<div class="container">

    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm" style="width: 18rem;">
                <img class="card-img-top" src="phone.jpg" alt="Phone image">
                <div class="card-body">
                    <h5 class="card-title">Phones</h5>
                    <p class="card-text">Buy phones including iPhones and Samsung Galaxy. Cell phones for all carriers,
                        including unlocked, Verizon, AT&T, T-Mobile and Sprint..</p>
                    <a href="/catalog/phones" class="btn btn-primary">Shop for phones.</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm" style="width: 18rem;">
                <img class="card-img-top" src="laptop.jpg" alt="Laptop image">
                <div class="card-body">
                    <h5 class="card-title">Laptops</h5>
                    <p class="card-text">Shop all new laptops here. Compare and read reviews on the vast selection of
                        laptop computers, notebooks and new PC and Mac laptops..</p>
                    <a href="/catalog/laptops" class="btn btn-primary">Shop for laptops.</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm" style="width: 18rem;">
                <img class="card-img-top" src="tablet.jpg" alt="tablet picture">
                <div class="card-body">
                    <h5 class="card-title">Tablets</h5>
                    <p class="card-text">Shop for Android Tablets in iPad and Tablets. Buy products such as the iPad pro
                        and SAMSUNG
                        Galaxy Tab A7 10.4 Wi-Fi here and save money!</p>
                    <a href="/catalog/tablets" class="btn btn-primary">Shop for tablets</a>
                </div>
            </div>
        </div>
    </div>
</div>