<div class="delete-container">
    <form method='POST' action=''>
        <div class="form-group">
            <input type="hidden" class="form-control" name='phoneId' required='true' value={{phone._id}}>
            <p>Do you really want to delete this phone?</p>
            <button type="submit" class="btn btn-primary">Delete</button>
    </form>
</div>