<div class="category-header">
    <h2>Tablets Available</h2>
    <a href="/catalog/tablet/create" class="btn btn-primary">Add item</a>
</div>
<div class="container">
    <div class="row">
        {{#each tablet_list}}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm h-100" style="width: 18rem;">
                <img class="card-img-top h-100" src="tablet.jpg" alt="Tablet image">
                <div class="card-body h-100">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p class="card-text">{{this.description}}</p>
                    <a href="/catalog/tablet/{{this.id}}" class="btn btn-primary">View this tablet.</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

</div>